<div class="component-container">
  <div class="row col-xl-12">
    <form (ngSubmit)="onSubmit()">
      <mat-stepper [orientation]='orientation' linear>
        <mat-step completed="tripInfoFormCompleted">
          <ng-template matStepLabel>{{"MOVING.STEP.TRIP.LABEL" | translate }}</ng-template>
          <trip-info (tripStepEvent) ="updateTripInfo($event)"></trip-info>
        </mat-step>
<!--goolemap and property information-->
        <mat-step [stepControl]="propertyForm">

          <ng-template matStepLabel>{{"MOVING.STEP.PROPERTY.LABEL" | translate }}</ng-template>
            <div class="row">
              <google-map height="400px"
                          width="100%"
                          [center]="center"
                          [zoom]="zoom">
                <map-directions-renderer *ngIf="(directionsResults)"
                                         [directions]="directionsResults"></map-directions-renderer>
              </google-map>
            </div>
          <form [formGroup]="propertyForm">
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{"MOVING.STEP.PROPERTY.LABEL" | translate }}</mat-label>
              <mat-select formControlName="residentialType">
                <mat-option *ngFor="let property of properties" [value]="property.value">
                  {{property.viewValue | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{"MOVING.ROOM.LABEL" | translate }}</mat-label>
              <mat-select formControlName="rooms">
                <mat-option *ngFor="let room of counts" [value]="room.value">
                  {{room.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="button-row">
              <button mat-raised-button matStepperPrevious color="primary" style="margin-right:10px">{{"BUTTON.BACK.LABEL" | translate}}</button>
              <button mat-raised-button matStepperNext color="primary" type="button" (click)="updatePropertyInfo()">{{"BUTTON.NEXT.LABEL" | translate}}</button>
            </div>
          </div>
          </form>

        </mat-step>
<!--        Bulky items-->
        <mat-step [stepControl]="bulkyItemsForm">
          <form [formGroup]="bulkyItemsForm">
          <ng-template matStepLabel>{{"MOVING.STEP.BULKYITEM.LABEL" | translate }}</ng-template>
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{"MOVING.PIANO.LABEL" | translate }}</mat-label>
              <mat-select formControlName="piano">
                <mat-option *ngFor="let count of counts" [value]="count.value">
                  {{count.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!--          <p> Selected food: {{residentialType}} </p>-->
            <mat-form-field>
              <mat-label>{{"MOVING.MARBLE.LABEL" | translate }}</mat-label>
              <mat-select formControlName="marbleFurniture">
                <mat-option *ngFor="let count of counts" [value]="count.value">
                  {{count.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{"MOVING.REFRIGERATOR.LABEL" | translate }}</mat-label>
              <mat-select formControlName="refrigerator">
                <mat-option *ngFor="let count of counts" [value]="count.value">
                  {{count.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="button-row">
              <button mat-raised-button matStepperPrevious color="primary" style="margin-right:10px">{{"BUTTON.BACK.LABEL" | translate}}</button>
              <button mat-raised-button matStepperNext color="primary" type="button" (click)="onUpdateBulkyItems()">{{"BUTTON.NEXT.LABEL" | translate}}</button>
            </div>
          </div>
          </form>
        </mat-step>
<!--        Moving date-->
        <mat-step [stepControl]="movingDateForm">
          <form [formGroup]="movingDateForm">
          <ng-template matStepLabel>{{"MOVING.STEP.DATEPICKER.LABEL" | translate }}</ng-template>
          <div class="form-group">
          <mat-form-field>
            <mat-label>{{"MOVING.STEP.DATEPICKER.LABEL" | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="button-row">
            <button mat-raised-button matStepperPrevious color="primary" style="margin-right:10px">{{"BUTTON.BACK.LABEL" | translate}}</button>
            <button mat-raised-button matStepperNext color="primary" type="button" (click)="onDatePickComplete()">{{"BUTTON.NEXT.LABEL" | translate}}</button>
          </div>
          </div>
          </form>
        </mat-step>
<!--contact information-->
        <mat-step>
          <ng-template matStepLabel>{{"MOVING.STEP.CONTACT.LABEL" | translate }}</ng-template>
          <app-contact-info (contactStepEvent)="addContactInfo($event)"></app-contact-info>
        </mat-step>
<!--        Summary-->
        <mat-step>
          <ng-template matStepLabel>{{"MOVING.STEP.SUMMARY.LABEL" | translate }}</ng-template>
          <app-order-detail [formUpdated]="formUpdated" [movingType] = "movingType"></app-order-detail>
        </mat-step>
      </mat-stepper>
    </form>

  </div>

</div>
