mat-form-field {
  width:100%;
}
:host ::ng-deep .mat-step:nth-of-type(5) .mat-vertical-content-container{
  margin-left: 0;
}


.wrapper {
  padding-top: 4rem;
  height: calc(99vh - 2rem);
}

@media (min-width: 40rem){
  mat-form-field {
    width: 35vw;
  }
}

