<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >{{"Canton Moving" | translate}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="goHome()" >{{'Home' | translate}}</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'Our Services' | translate }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" >Office Moving</a></li>
            <li><a class="dropdown-item" >Residential Moving</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" >Something else here</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown ms-auto d-flex">
          <a [hidden]="!isEnglish" class="nav-link dropdown-toggle" id="Dropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <i class="fi fi-ca"></i>
          </a>

          <a [hidden]="isEnglish" class="nav-link dropdown-toggle" id="Dropdown-cn" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <i class="fi fi-cn"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Dropdown">
            <li [hidden]='isEnglish'>
              <a class="dropdown-item"  (click)="setLanguage('en')"><i class="fi fi-ca"></i> English</a>
            </li>
            <li [hidden]="!isEnglish">
              <a class="dropdown-item" (click)="setLanguage('zh-en')"><i class="fi fi-cn"></i> 中文</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
