<header>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="brand">

    <a class="navbar-brand" >
      <img src="../../assets/icons/logo.png" alt="Canton Moving">
    </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="goHome()" mat-button>{{'NAVBAR.HOME' | translate}}</a>
        </li>

        <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="menu" aria-label="menu">
          <span> {{ 'NAVBAR.SERVICE' | translate }} </span>
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>local_shipping</mat-icon>
            <span>Residential Moving</span>
          </button>

          <button mat-menu-item>
            <mat-icon>trolley</mat-icon>
            <span>Small Moving</span>
          </button>
        </mat-menu>
        </li>

      </ul>
        <div>
          <button mat-button [matMenuTriggerFor]="languageMenu" aria-label="menu">
            <mat-icon>language</mat-icon>
            <span>{{language==='en'? 'English': '中文'}}</span>
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item (click)="setLanguage('en')">
              <i class="fi fi-ca"></i>
              <span>English</span>
            </button>

            <button mat-menu-item (click)="setLanguage('zh-en')">
              <i class="fi fi-cn"></i>
              <span>中文</span>
            </button>
          </mat-menu>
        </div>
      <div>
        <button mat-button [matMenuTriggerFor]="accountMenu" aria-label="menu">
          <mat-icon>account_circle</mat-icon>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item (click)="onLogin()">
            <mat-icon>login</mat-icon>
            <span>Login</span>
          </button>

          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>


    </div>
  </div>
</nav>
</header>
