header {
  position: fixed;
  width: 100%;
  background-color: #3f51b5;
  z-index: 100;
}

.navbar-brand {
  display: inline-block;
  height: 3rem;
}

.navbar-brand img {
  height: 100%;
}

.nav-bar {
  width: 100%;
}
li{
  list-style-type: none;
  padding-right: 0.5rem;
}
a,
a:hover
a.active {
  color: white;
}

ul {
  margin: 0 0;
}

.service{
  color: black;
}
.mdc-button__label {
  color: white;
}

.mat-mdc-button:not(:disabled) {
  color: white;
}
i {
  margin-right: 0.5rem;
}

