<main clase="moving" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <section id="carousel">
    <div id="carouselCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active item-1">
          <img [src]="packing$ | async" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item item-2">
          <img [src]="smallMoving$ | async" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item item-3">
          <img [src]="fleet$ | async" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <div class="slogan col-sm-12">
    <p> {{'SLOGAN' | translate}}</p>
  </div>

  <mat-tab-group>
    <mat-tab label="{{'MOVING.SERVICE.RESIDENTIAL.TITLE' | translate}}">
      <section class="moving-service">
        <mat-card class="service-card">
          <mat-card-header fxLayoutAlign="center">
            <mat-card-title>{{'MOVING.SERVICE.RESIDENTIAL.RATE.HEADER' | translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="dataSource">

              <!-- Name Column -->
              <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef> {{"MOVING.SERVICE.TRUCK.LENGTH" | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.length}} </td>
              </ng-container>

              <!-- Capacity Column -->
              <ng-container matColumnDef="capacity">
                <th mat-header-cell *matHeaderCellDef> {{"MOVING.SERVICE.TRUCK.CAPACITY" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef> {{"MOVING.SERVICE.RESIDENTIAL.RATE.LABEL" | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
              </ng-container>

              <ng-container matColumnDef="busyDayRate">
                <th mat-header-cell *matHeaderCellDef> {{"MOVING.SERVICE.RESIDENTIAL.RATE.BUSY.LABEL" | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.busyDayRate}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <hr>
            <ul>
              <li class="fee-item" *ngFor="let item of feeItems; index as i">
                {{'MOVING.SERVICE.RESIDENTIAL.RATE.RULE.' + i | translate}}
              </li>
            </ul>
          </mat-card-content>

          <mat-card-actions fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="toMakeAnAppointment()">Get a quote</button>
          </mat-card-actions>
        </mat-card>
      <mat-card class="service-card">
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title>{{"MOVING.SERVICE.RESIDENTIAL.FLEET.TITLE" | translate}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/fleet.jpg" alt="Residential Moving">

      </mat-card>

      </section>
    </mat-tab>
    <mat-tab label="{{'MOVING.SERVICE.SMALL.TITLE' | translate}}">
      <section class="moving-service">
        <mat-card class="service-card">
          <mat-card-header fxLayoutAlign="center">
            <mat-card-title>Service rates (1 mover and a van)</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="vanDataSource">

              <!-- Name Column -->
              <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef> Truck length </th>
                <td mat-cell *matCellDef="let source"> {{source.length}} </td>
              </ng-container>

              <!-- Capacity Column -->
              <ng-container matColumnDef="capacity">
                <th mat-header-cell *matHeaderCellDef> Capacity </th>
                <td mat-cell *matCellDef="let source"> {{source.capacity}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef> Rate </th>
                <td mat-cell *matCellDef="let source"> {{source.rate}} </td>
              </ng-container>
              <ng-container matColumnDef="busyDayRate">
                <th mat-header-cell *matHeaderCellDef> Busy day rate(25th – 1st)</th>
                <td mat-cell *matCellDef="let source"> {{source.busyDayRate}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <hr>
            <ul>
              <li class="fee-item" *ngFor="let van of SMALL_MOVING_DATA" >
                {{van.description}}
              </li>
            </ul>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center">
            <button mat-raised-button color="primary" class="small-quote"  (click)="toSmallMovingRequest()">Get a quote</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="service-card">
          <mat-card-header fxLayoutAlign="center">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Small moving</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/images/van.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              This service is for single persons living in a room or just need a little help with some furniture.
              Most of them don't have much stuff, so we offer a affordable
              price for this kind of moving.
            </p>
          </mat-card-content>

        </mat-card>
      </section>
    </mat-tab>
  </mat-tab-group>
</main>
