<div class="login-form">
<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="!loginValid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
    </form>
<!--    <div class="mt-2 social-sign-in">-->
<!--      <button mat-button color="primary" (click)="loginWithGoogle()">-->
<!--        <mat-icon>google</mat-icon>-->
<!--        <span>Sign in with Google</span>-->
<!--    </div>-->

  </mat-card-content>
</mat-card>
</div>
