/*.detail {*/
/*  justify-content: center;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  margin-top: 50px;*/
/*}*/

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail {
  width: 100%;
}

.summary-header {
  text-align: center;
}

.button-row {
  margin: auto;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary-header {
  color: #7e8d9f;
  font-size: 20px;
}

