<div class="card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-xl-9">
          <p class="summary-header"><strong>Summary</strong></p>
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="col-md-12">
          <div class="text-center">
            <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
            <p class="pt-0">Lychee Service</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">From: {{routeDetail.from}}</li>
              <li class="text-muted">To: {{routeDetail.to}}</li>
              <li class="text-muted">When: {{movingDate | date: 'fullDate'}}</li>
            </ul>
          </div>
        </div>

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless" [hidden]="isMobile">
            <thead class="table-primary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Service Details</th>
              <th scope="col">Property type</th>
              <th scope="col">Rooms</th>
              <th scope="col">Pianos</th>
              <th scope="col">Marble Furnitures</th>
              <th scope="col">Refrigerator</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Residential Moving</td>
              <td>{{propertyDetail.residentialType}}</td>
              <td>{{propertyDetail.rooms}}</td>
              <td>{{bulkyItems.piano}}</td>
              <td>{{bulkyItems.marbleFurniture}}</td>
              <td>{{bulkyItems.refrigerator}}</td>
            </tr>
            </tbody>
          </table>
<!--          vertical table for mobile-->
          <table class="table table-striped table-borderless" [hidden]="!isMobile">
            <tr>
              <th scope="col">Service Details</th>
              <td>Residential Moving</td>
            </tr>
            <tr>
              <th scope="col">Property type</th>
              <td>{{propertyDetail.residentialType}}</td>
            </tr>
            <tr>
              <th scope="col">Rooms</th>
              <td>{{propertyDetail.rooms}}</td>
            </tr>
            <tr>
              <th scope="col">Pianos</th>
              <td>{{bulkyItems.piano}}</td>
            </tr>
            <tr>
              <th scope="col">Marble Furnitures</th>
              <td>{{bulkyItems.marbleFurniture}}</td>
            </tr>
            <tr>
              <th scope="col">Refrigerators</th>
              <td>{{bulkyItems.refrigerator}}</td>
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col-xl-9">
            <p class="ms-3" style="color:red;">Driving hours may vary due to traffic</p>
          </div>
          <div class="col-xl-3">
            <ul class="list-unstyled">
              <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>{{"GENERAL.MESSAGE.TBC" | translate}}</li>
              <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Tax(13%)</span>{{"GENERAL.MESSAGE.TBD" | translate}}</li>
            </ul>
            <p class="text-black float-start"><span class="text-black me-3">Total Amount</span><span
              style="font-size: 25px;">{{"GENERAL.MESSAGE.TBD" | translate}}</span></p>
          </div>
        </div>
        <hr>
        <div class="button-row">
          <div>
            <p>Thank you for your business!</p>
          </div>
          <div class="button-group">
            <button mat-raised-button matStepperPrevious color="primary" style="margin-right:10px">Back</button>
            <button mat-raised-button matStepperNext color="primary" type="button">Next</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
