<div class="container">
  <div class="row col-xl-12">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
      <mat-stepper [orientation]='orientation' formArrayName="formArray" linear>
        <mat-step formGroupName="0" [stepControl]="formArray.get([0])">

          <ng-template matStepLabel>{{"MOVING.QUOTATIONFORM.STEP1.LABEL" | translate }}</ng-template>
          <div class="form-group moving-route">
            <mat-form-field appearance="fill" >
              <mat-label>From</mat-label>
              <input #from matInput formControlName="from">
            </mat-form-field>
            <mat-form-field appearance="fill" >
              <mat-label>To</mat-label>
              <input #to matInput formControlName="to">
            </mat-form-field>
            <button mat-raised-button matStepperNext color="primary" type="button" (click)="step1Complete()">{{"MOVING.QUOTATIONFORM.NEXT.LABEL" | translate}}</button>
          </div>
        </mat-step>
        <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
          <ng-template matStepLabel>{{"MOVING.QUOTATIONFORM.STEP2.LABEL" | translate }}</ng-template>
          <div class="row">
            <google-map height="400px"
                        width="100%"
                        [center]="center"
                        [zoom]="zoom">
              <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
                                       [directions]="directionsResults"></map-directions-renderer>
            </google-map>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{"MOVING.QUOTATIONFORM.STEP2.LABEL" | translate }}</mat-label>
              <mat-select formControlName="residentialType">
                <mat-option *ngFor="let property of properties" [value]="property.value">
                  {{property.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{"MOVING.QUOTATIONFORM.ROOM.LABEL" | translate }}</mat-label>
              <mat-select formControlName="rooms">
                <mat-option *ngFor="let room of counts" [value]="room.value">
                  {{room.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="button-row">
              <button mat-raised-button matStepperPrevious color="primary" style="margin-right:10px">{{"MOVING.QUOTATIONFORM.BACK.LABEL" | translate}}</button>
              <button mat-raised-button matStepperNext color="primary" type="button">{{"MOVING.QUOTATIONFORM.NEXT.LABEL" | translate}}</button>
            </div>
          </div>
        </mat-step>
        <mat-step formGroupName="2" [stepControl]="formArray.get([2])">
          <ng-template matStepLabel>{{"MOVING.QUOTATIONFORM.STEP3.LABEL" | translate }}</ng-template>
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{"MOVING.QUOTATIONFORM.PIANO.LABEL" | translate }}</mat-label>
              <mat-select formControlName="piano">
                <mat-option *ngFor="let count of counts" [value]="count.value">
                  {{count.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!--          <p> Selected food: {{residentialType}} </p>-->
            <mat-form-field>
              <mat-label>{{"MOVING.QUOTATIONFORM.MARBLE.LABEL" | translate }}</mat-label>
              <mat-select formControlName="marbleFurniture">
                <mat-option *ngFor="let count of counts" [value]="count.value">
                  {{count.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{"MOVING.QUOTATIONFORM.REFRIGERATOR.LABEL" | translate }}</mat-label>
              <mat-select formControlName="refrigerator">
                <mat-option *ngFor="let count of counts" [value]="count.value">
                  {{count.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="button-row">
              <button mat-raised-button matStepperPrevious color="primary" style="margin-right:10px">{{"MOVING.QUOTATIONFORM.BACK.LABEL" | translate}}</button>
              <button mat-raised-button matStepperNext color="primary" type="button">{{"MOVING.QUOTATIONFORM.NEXT.LABEL" | translate}}</button>
            </div>
          </div>
        </mat-step>
        <mat-step formGroupName="3" [stepControl]="formArray.get([3])">
          <ng-template matStepLabel>{{"MOVING.QUOTATIONFORM.STEP4.LABEL" | translate }}</ng-template>
          <div class="form-group">
          <mat-form-field>
            <mat-label>{{"MOVING.QUOTATIONFORM.STEP4.LABEL" | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="button-row">
            <button mat-raised-button matStepperPrevious color="primary" style="margin-right:10px">{{"MOVING.QUOTATIONFORM.BACK.LABEL" | translate}}</button>
            <button mat-raised-button matStepperNext color="primary" type="button">{{"MOVING.QUOTATIONFORM.NEXT.LABEL" | translate}}</button>
          </div>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{"MOVING.QUOTATIONFORM.STEP6.LABEL" | translate }}</ng-template>
          <app-service-summary [quotationForm]="formGroup" [toChange]="toChange" [isMobile]="isMobile"></app-service-summary>
        </mat-step>
        <mat-step formGroupName="4" [stepControl]="formArray.get([4])">
          <ng-template matStepLabel>{{"MOVING.QUOTATIONFORM.STEP5.LABEL" | translate }}</ng-template>
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{"FORM.FIRSTNAME.LABEL" | translate }}</mat-label>
              <input matInput formControlName="firstName" autocomplete="given-name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{"FORM.LASTNAME.LABEL" | translate }}</mat-label>
              <input matInput formControlName="lastName" autocomplete="family-name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{"FORM.EMAIL.LABEL" | translate }}</mat-label>
              <input matInput formControlName="email" autocomplete="email">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{"FORM.PHONE.LABEL" | translate }}</mat-label>
              <input matInput formControlName="phone" autocomplete="phone">
            </mat-form-field>
            <div class="button-row">
              <button mat-raised-button matStepperPrevious color="primary" style="margin-right:10px">{{"MOVING.QUOTATIONFORM.BACK.LABEL" | translate}}</button>
              <button mat-raised-button matStepperNext color="primary" type="submit">{{"FORM.SUBMIT.LABEL" | translate}}</button>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </form>

  </div>

</div>
