.form-group {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.button-row {
  flex-direction: row;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary-header {
  color: #7e8d9f;
  font-size: 20px;
}
